<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
      <client>
        <endpoint address="https://wsbexpress.dhl.com/sndpt/expressRateBook"
          binding="basicHttpBinding" bindingConfiguration="gblExpressRateBook"
          contract="expressRateBookServiceReference.gblExpressRateBook"
          name="gblExpressRateBook" />
      </client>
      <bindings>
        <basicHttpBinding>
          <binding name="gblExpressRateBook">
            <security mode="Transport" />
          </binding>
          <binding name="gblExpressRateBook1" />
        </basicHttpBinding>
      </bindings>
        <!--<client>
            <endpoint address="https://wsbexpress.dhl.com/sndpt/expressRateBook"
                binding="basicHttpBinding" bindingConfiguration="gblExpressRateBook"
                contract="ServiceReference1.gblExpressRateBook" name="gblExpressRateBook" />
        </client>-->
    </system.serviceModel>
</configuration>